<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @garment_type.name %>
</p>

<%= link_to 'Edit', edit_garment_type_path(@garment_type) %> |
<%= link_to 'Back', garment_types_path %>
